<!-- <tr>
	<td class "microporst">
		<spam class= "content "><%= micropost.content %></spam>
		<spam class =" timestamp">
			Posted <%= time_ago_in_words(micropost_created_at)%> ago</spam>
	</td>
</tr> -->

